<body>
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Advanced search</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active" aria-current="page">Advanced search</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer_login">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form">
                        <form action="#" method="POST">
                            <div class="default-form-box mb-20">
                                <label>Book tittle <span>*</span></label>
                                <input type="text" value="Type the name of book...">
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Author</label>
                                <input type="text" value="Type the author of book... (optional)">
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Release date</label>
                                <input type="text" value="Type the book's release date... (optional)">
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Publisher</label>
                                <input type="text" value="Type the company published the book... (optional)">
                            </div>                                                           
                            <div class="login_submit d-flex justify-content-center">
                                <button type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->
</body>